* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
/* Header section and navbar */
.header{
    background-color: bisque;
}
.container{
    padding: 20px 200px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}
.logo-text{
    font-size: 45px;
    font-weight: 700;
}
.navbar ul {
    display: flex;
    list-style: none;
    
}
.navbar ul li a{
    text-decoration: none;
    padding-right: 50px;
    color: #424242;
}
/* Banner text , button and image */
.banner-text{
    text-align: center;
    padding: 30px 490px;
}
.banner-header{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    padding-bottom: 30px;
}
.banner-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 30px;
}
.banner-button{
    padding: 18px 24px;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.banner-image{
    text-align: center;
    padding: 10px 0 30px;
}

/* Team Features Styles section */
.team-container{
    display: flex;
    padding: 60px;
    align-items: center;
    gap: 75px;
}
.team-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.team-header{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding-bottom: 20px;
}
.of-our{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.features{
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}
.team-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 20px;
}
.team-button{
    padding: 18px 24px;
    font-weight: 600;
    font-size: 20px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Enjoyable Future Features Section  */
.text-image{
    display: flex;
    align-items: center;
}
.enjoyable-option{
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px #f7f7f7;
    border-radius: 5px;
}
.text-info{
    padding-right: 100px;
}
.option-header{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.option-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-top: 10px;
}
.line-header{
    display: flex;
    align-items: center;
}
vl{
    border-left: 5px solid #FF900E;
    height: 120px;
}
.features-header-line{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 0 15px;
}
.enjoyable-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 30px 0;
}
.experience{
    background-color: #FF900E;
    margin: -170px 700px;
    border-radius: 10px;
}
.experience-button{
    padding: 15px 30px;
    font-weight: 700;
    font-size: 65px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.experience-word{
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
/* some facts section styles */
.facts-tittle, .recent-tittle{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 120px;
}
.facts-paragraph, .recent-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 30px;
}
.fact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 100px;
}
.fact-box{
    text-align: center;
    border: 2px solid #FF900E;
    width: 15rem;
    height: 15rem;
    padding-top: 3.5rem;
}
.fact-box:hover{
    transform: rotate(30deg);
}
.fact-box-header{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
}
.fact-box-paragraph{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}
/* Our Sponsor section */
.sponsor-tittle{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 120px;
    text-align: center;
}
.sponsor-paragraph, .recent-project-paragraph{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 30px;
    text-align: center;
}
.company-icon{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    gap: 150px;
    filter: grayscale(100%);
}
/* our recent projects */
.recent-project-container{
    padding: 50px 0;
    display: flex;
    gap: 150px;
    justify-content: center;
}
.recent-project-header{
    font-weight: 600;
    font-size: 35px;
    color: #ff6d13;
}
.recent-project img{
    padding: 30px 0;
}
/* important section */
.join-us, .register-header{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding: 50px 0;
}
.social-media-icon a{
    padding-right: 50px;
}
.connect-section{
    display: flex;
    justify-content: center;
    gap: 250px;
    align-items: center;
}
.input-email, .input-password{
    font-size: 20px;
    padding: 18px 45px;
    font-weight: 500;
    margin-bottom: 15px;
    background-color: rgb(213, 213, 213);
    border-radius: 5px;
    border: none;
}
.register-button{
    padding: 12px 20px;
    font-weight: 600;
    font-size: 22px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}










/* Media Query for Mobile Device */
@media screen and (max-width: 576px) {
    .container{
        padding: 0px;
    }
    .navbar {
        flex-direction: column;
        margin-left: -50px;  
    }
    .navbar ul {
        flex-direction: column;
        padding: 20px;
    }
    .navbar ul li a{
        margin-left: -100px;
    }
    .banner-header{ 
        font-weight: 500;
        font-size: 45px;
        padding: 20px 0;
    }
    .banner-description{
        padding: 0px 20px 20px;
    }
    .banner-image img{
        width: 100%;
        max-width: 500px;
        height: auto;
        padding: 30px;
    }
    .team-container{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
    }
    .text-image {
        flex-direction: column;
    }
    .text-info{
        padding-right: 20px;
    }
    .features-header-line{
        padding: 0px 20px;
        font-weight: 500;
        font-size: 35px;
    }
    #vl{
        margin-left: 15px;
        height: 100px;
    }
    .enjoyable-paragraph{
        padding: 20px 20px;
    }
    .enjoyable-images img{
        width: 100%;
        padding: 15px;
    }
    .experience{
        height: 90px;
        width: 140px;
        margin: 0 auto;
    }
    .experience-button{
        margin: 20px;
        font-weight: 400;
        font-size: 25px;
        padding: 0px;
    }
    .experience-word{
        font-weight: 200;
        font-size: 10px;
    }
    .facts-tittle, .facts-paragraph, .recent-title-p,.recent-project-header, .recent-paragraph{
        margin-left: 15px;
    }
    .fact-container, .recent-project-container{
        flex-direction: column;
    }
    .company-icon{
        flex-direction: column;
    }
    .recent-project img{
        margin-left: 70px;
    }
    .connect-section{
        flex-direction: column-reverse;
        gap: 50px;
    }
    .registration{
        margin-left: 25px;
    }
}
